* {
  margin: 0%;
  padding: 0%;
}
html {
  width: 90%;
  margin: auto;
}


/* form{
    border-radius: 1.5rem;
    padding: 2rem 2rem;
} */

/* .swiper {
  width: 600px;
  height: 300px;
} */

.product-card{
    border: 1px solid #23C55F;
    border-radius: 1rem;
}

.cardstart{
  display: flex;
  align-items: baseline;
}
.blogcard{
  display: flex;
  align-items: center;
  justify-content: center;
}
